@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(66, 66, 66, 0.2);
    border: 0px;
    background-clip: padding-box;
    border-radius: 5px;
}

/* navbar  */
.link {
    position: relative;
    display: block;
    transition: 0.5s;
}
.link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 30px;
    height: 2px;
    background: #319795;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.link:hover {
    color: #319795 !important;
}
.link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.header {
    width: calc(100% - 320px);
}
